body{
  background-color: gray;
}

section{
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 400px;
  height: 500px;
  font-family: monospace;
  font-size: large;
}

table{
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
  background-color: #4EE2EC;
}

td, th{
  width: 20%;
  height: 95px;
  text-align: center;
  border: 2px solid gray;
}

td.operator{
  background-color: #43C6DB;
}

td:hover{
  background-color: #43C6DB;
}
