body{
  background-color: #e9e2e2;
}

section{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 400px;
  height: 500px;
  font-family: Arial Black, Trebuchet MS;
  font-size: large;
}

table{
  width: 100%;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0px 0px 20px 6px rgba(255,255,255,1);
}

input[type=button]:hover{
 background: linear-gradient(220deg, #ffcccc, #ff9999);
}

#display{
  color: black;
  max-width: 320px;
  height: 100px;
  background-color: #ff9999;
  border-top: 1px solid #ff9999;
  border-right: 1px solid #ff9999;
  border-bottom: 1px solid #ffcccc;
  border-left: 1px solid #ffcccc;
  border-radius: 60px;
  word-wrap: break-word;
}


input[type=button]{
  width: 100px;
  height: 100px;
  background-color: #ff9999;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #ffcccc;
  border-left: 1px solid #ffcccc;
  border-radius: 90%;
  font-family: Arial Black, Trebuchet MS;
  font-size: medium;
}
