body{
  background-color: #e9e2e2;
}

section{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 400px;
  height: 500px;
  font-family: Arial Black, Trebuchet MS;
  font-size: large;
}

table{
  width: 100%;
  /*border-collapse: collapse;*/
  border-radius: 8px;
}


td, th{
  width: 20%;
  height: 95px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 100%;
  background-color: #ff9999;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #ffcccc;
  border-left: 1px solid #ffcccc;
}

td.operator{
  background-color: #ffb3b3;
}

td:hover{
  background-color: #ffb3b3;
}

#display{
  color: white;
}
